/#*
*.rej
/ac-comphist.dat
/auto-save-list
/elpa
/eshell
*.desktop*
/ido.last
/image-dired
/irony
/.org-id-locations
/.mc-lists.el
/projectile-bookmarks.eld
*recentf*
/smex-items
/session.*
/*testing*
/*tramp*
/tramp
/url
